/** index.css */
@import "./reset.css";

/* up主eric的样式 */
:root {
    /* colors */
    --melon-color-white: #ffffff;
    --melon-color-black: #000000;
    --colors: (primary: #409eff, success: #67c23a, warning: #e6a23c, danger: #f56c6c, info: #909399);
    --melon-bg-color: #ffffff;
    --melon-bg-color-page: #f2f3f5;
    --melon-bg-color-overlay: #ffffff;
    --melon-text-color-primary: #303133;
    --melon-text-color-regular: #606266;
    --melon-text-color-secondary: #909399;
    --melon-text-color-placeholder: #a8abb2;
    --melon-text-color-disabled: #c0c4cc;
    --melon-border-color: #dcdfe6;
    --melon-border-color-light: #e4e7ed;
    --melon-border-color-lighter: #ebeef5;
    --melon-border-color-extra-light: #f2f6fc;
    --melon-border-color-dark: #d4d7de;
    --melon-border-color-darker: #cdd0d6;
    --melon-fill-color: #f0f2f5;
    --melon-fill-color-light: #f5f7fa;
    --melon-fill-color-lighter: #fafafa;
    --melon-fill-color-extra-light: #fafcff;
    --melon-fill-color-dark: #ebedf0;
    --melon-fill-color-darker: #e6e8eb;
    --melon-fill-color-blank: #ffffff;
    
    @each $val, $color in var(--colors) {
      --melon-color-$(val): $(color);
      @for $i from 3 to 9 {
        --melon-color-$(val)-light-$(i): mix(#fff, $(color), 0.$(i));
      }
      --melon-color-$(val)-dark-2: mix(#000, $(color), 0.2);
    }
  
    /* border */
    --melon-border-width: 1px;
    --melon-border-style: solid;
    --melon-border-color-hover: var(--melon-text-color-disabled);
    --melon-border: var(--melon-border-width) var(--melon-border-style) var(--melon-border-color);
    --melon-border-radius-base: 4px;
    --melon-border-radius-small: 2px;
    --melon-border-radius-round: 20px;
    --melon-border-radius-circle: 100%;
  
    /*font*/
    --melon-font-size-extra-large: 20px;
    --melon-font-size-large: 18px;
    --melon-font-size-medium: 16px;
    --melon-font-size-base: 14px;
    --melon-font-size-small: 13px;
    --melon-font-size-extra-small: 12px;
    --melon-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
    --melon-font-weight-primary: 500;
  
    /*disabled*/
    --melon-disabled-bg-color: var(--melon-fill-color-light);
    --melon-disabled-text-color: var(--melon-text-color-placeholder);
    --melon-disabled-border-color: var(--melon-border-color-light);
  
    /*animation*/
    --melon-transition-duration: 0.4s;
    --melon-transition-duration-fast: 0.2s;
  }